body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F4F5F9;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* common styles */
.flex{
  display: flex;
}
.column {
  flex-direction: column;
}
.hidden{
  display: none;
}
.btn{
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width:200px;
  align-self: center;
  border:none;
  font-weight: bold;
  font-size: 15px;
}
/* Top Bar Styling Start */
.top-bar{
  background-color: white;
  padding: 0 2rem;
  align-items: center;
  justify-content: space-between;
}
.profile{
  height: inherit;
  align-items: center;
  cursor: pointer;
}
.user-img{
  width: 60px;
  height: 60px;
}

.user-img img{
  border-radius: 50px;
}
.title{
  color: #704EB1;
}
.user-name{
  margin-left: 1rem;
}
/* Top Bar Styling End */

/* Side Bar Styling Start */
.sidebar{
  padding: 2rem 2rem;
  background-color: white;
  height: 100vh;
  width: 250px;
}
.icon{
  font-size: 20px;
  color: #704EB1;
  margin-right: 1rem;
}

.nav-item{
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.nav-item:hover{
  padding: 0 1rem;
  background-color: #F4F5F9;
}

.nav-item p{
  font-weight: bold;
  font-size: 20px;
}
.link {
  text-decoration: none;
  color: black;
}
/* Side Bar Styling End */

/* Login Section Styling Start  */
.login-section{
  width:100%;
  align-items: center;
  justify-content: center;
  padding: 10rem 0;
}

.login-form{
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  justify-content: center;
}

.login-form h2{
  color: #704EB1;
  text-align: center;
  margin-top: 0;
}

.form-control{
  margin-bottom: 2rem;
}

.form-control label{
  margin-bottom: 1rem;
  font-weight: bold;
  color: #704EB1;
}
.form-control input{
  color: #704EB1;
  font-size: 15px;
  width:400px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: #704EB1;
}

.btn-purple{
  color: white;
  background-color: #704EB1;
}
/* Login Section Styling End  */


/* Admin Courses Section Start */
.section{
  width: 100%;
  padding: 2rem 4rem;
}

.allcourses{
  flex-wrap:wrap;
  justify-content: space-evenly;
}

.course-card{
  background-color: white;
  box-shadow: 10px 10px 10px 10px lightgrey;
  margin-bottom: 2rem;
}
.course-img{
  width: 350px;
  height: 200px;
  margin-bottom: 1rem;
}
.course-name{
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 20px;
  font-weight: bold;
  color:#704EB1;
}
.course-card p{
  margin-left: 1rem;
  color:#704EB1;
  opacity: 90%;
}

.assign-course{
  justify-content: flex-end;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
/* Admin Courses Section End */

/* Assign Course Section Start */
.assign-container{
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  align-items: center;
  justify-content: center;
}
.assign-popup{
  background-color: white;
  padding: 4rem;
  border-radius: 20px;
}
.course-info{
  font-size: 20px;
  font-weight: bold;
  color:#704EB1;
  margin-bottom: 2rem;
}
.course-info input{
  margin-top: 1rem;
  width:300px;
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-weight: bold;
  color:#704EB1;
  border-radius: 20px;
}
.instructor-info{
  font-size: 20px;
  font-weight: bold;
  color:#704EB1;
}
.instructor-info select{
  margin-top: 1rem;
  width:340px;
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-weight: bold;
  color:#704EB1;
  border-radius: 20px;
}
.buttons{
  margin-top: 2rem;
  justify-content: flex-end;
}
.btn-assign{
  color: white;
  background-color: #704EB1;
  width:100px!important;
  margin-left: 1rem;
}

/* Add Course Section Start */
.add-course-btn{
  justify-content: flex-end;
}
.course-image{
  width: 100%;
  height:200px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.select-img{
  font-size: 15px;
  font-weight: bold;
  color:white;
  background-color: #704EB1;
  border: 1px solid #704EB1;
  padding: 0.5rem;
  border-radius: 10px;
}
/* Add Course Section End */

/* Students Page Styling Start */
.all-students{
  flex-wrap:wrap;
  justify-content: space-evenly;
}
.user-info{
  margin-left: 2rem;
  font-size: 20px;
  font-weight: bold;
  color:#704EB1;
  margin-bottom: 2rem;
}
/* Students Page Styling End */

/* Assignments Page Styling Start */
.assignment-card{
  padding: 1rem;
  width:350px;
  background-color: white;
  box-shadow: 10px 10px 10px 10px lightgrey;
  margin-bottom: 2rem;
}

.assignment-info{
  color:#704EB1;
  margin-bottom: 1rem;
}
.assignment{
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid #704EB1;
  padding-bottom:1rem;
  margin-bottom: 1rem;
}

.assg-details{
  border-radius: 20px;
  padding: 1rem;
  border-color: #704EB1;
  margin-top: 1rem;
  color: #704EB1;
  outline: none;
}

.submission-card{
  background-color: white;
  box-shadow: 10px 10px 10px 10px lightgrey;
  margin-bottom: 2rem;
}
.submission{
  margin: 1rem;
  font-size: 20px;
  font-weight: bold;
  color:#704EB1;
}

.submission-info{
  margin-bottom: 1rem;
  align-items: center;
}
.course-related{
  font-size: 15px;
}
/* Assignments Page Styling End */
